#A{
    color:red;
}
#B{
    color:green;
}
#C{
    color:yellow;
}
#D{
    color:blue;
}
#E{
    color:purple;
}
#F{
    color:orange;
}
h1{
    color: white;
}
h2{
    color : white;
}
html{
    background-color: black;
}